<div class="container">

  <%= render :partial => 'shared/error_messages', :locals => { object: @mail } %>

  <div class="step-images">
    <%= image_tag("sign_in/step1.png", :width=> "80%", :height => "auto") %>
  </div>
  <h3 class="page-header">あなたの青学メールを送信ください。</h3>

  <%= form_tag('/mail_addresses', class: "form-horizontal") do %>
  <%= text_field :address, :name, :class => "form-size", :placeholder => "aoyama email address", :size => "60"%><br>
  </div>
  <%= submit_tag :submit, :class => "btn-size", :class => "center-block"%>
  <% end %>
</div>
