<div class="container">

  <%= render :partial => 'shared/error_messages', :locals => { object: @mail } %>

  <div class="step-images">
    <%= image_tag("sign_in/step1.png", :width=> "80%", :height => "auto") %>
  </div>
  <h3 class="page-header">あなたの青学メールを送信ください。</h3>

  <div id="step-description">
    <%= form_tag('/mail_addresses', class: "form-horizontal") do %>
      <div class="form-group">
        <div class="col-sm-12">
          <%= text_field :address, :name, :class => "form-control", :placeholder => "aoyama email address"%>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <%= submit_tag :submit, class: "btn btn-primary btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
