<div class="container">

  <%= render :partial => 'shared/error_messages', :locals => { object: @mail } %>

  <div class="step-images">
    <%= image_tag("sign_in/step1.png", :width=> "80%", :height => "auto") %>
  </div>

  <div class="form-setting">
    <h2 class="h2">あなたの青学メールを送信してください</h2>
    <%= form_tag('/mail_addresses') do %>
    <%= text_field :address, :name, :class => "text-field", :placeholder => "　aoyama email address", :size => "60" %><br>
    <%= submit_tag :submit, :class => "square_btn" %>
    <% end %>
  </div>
</div>
