<h1>ユーザパスワード更新ページ</h1>

<h4><%= @user.username %></h4>

<ul>
  <li>ID : <%= @user.id %> </li>
  <li>氏名 : <%= @user.username %> </li>
  <li>パスワード : <%= @user.password %> </li>
</ul>

<%= form_for [:admin, @user], :url => admin_password_path(@user.id), method: :patch do |f| %>
  <h4>パスワード:  <%= f.text_field :password %></h4>
  <%= f.submit "データ更新", name: "update-btn",  class: "btn" %>
<% end %>
