<section id="searchpage" class="fadeout">
  <div class="container fadein">
    <div class="col-sm-offset-1 col-xs-offset-1 page-header">
      <h1>論文検索</h1>
    </div>

    <!-- 検索フォーム -->
    <%= form_tag(search_path, method: :get, enforce_utf8: false, class: "form-horizontal form-inline") do %>
      <div class="row">
        <div class="col-sm-offset-2 col-xs-offset-2 col-sm-7 col-xs-7">
          <%= search_field_tag(:q, params[:q], class: 'form-control textarea', placeholder: 'キーワード') %>
        </div>
        <div class="col-sm-2 col-xs-2">
          <%= submit_tag('検索', class: "button btn-pos") %>
        </div>
      </div>
      
      <div class="row">
        <% @labos.each do |l| %>
          <div class="col-sm-4 col-xs-4">
            <label><%= radio_button_tag(:l, l.id) %><%= l.name %></label>
          </div>
        <% end %>
      </div>
    <% end %>

    <div id="search-result">
    </div>
    <!-- 検索結果の表示 -->
      <% if @thesisArray %>
        <%= page_entries_info @thesisArray %>
          <% @thesisArray.each do |t| %>
              <div class="page-header">
                <h4><%= link_to(t[:thesis].title, thesis_path(t[:thesis])) %></h4>
              </div>
              <p class="text-muted search_summary">
                <small><%= t[:body] %></small>
              </p>
          <% end %>
        <%= paginate @thesisArray %>
      <% end %>
</section>

<%= javascript_include_tag "search" %>
