<div class="container">
  <div class="page-header">
    <h1>Dürst研論文検索</h1>
  </div>

  <!-- 検索フォーム -->
  <%= form_tag search_path, method: :get, enforce_utf8: false, class: "form-horizontal" do %>
    <div class="form-group">
      <div class="col-sm-10">
        <%= search_field_tag :q, params[:q], class: 'form-control', placeholder: 'キーワード' %>
      </div>
      <div class="col-sm-2">
        <%= submit_tag '検索', class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
  
  <!-- 検索結果の表示 -->
  <% if @theses %>
    <div class="text-muted">約 <%= @theses.took %> 件</div>
    <% @theses.hits.hits.each do |t| %>
      <div class="page-header">
        <!-- <h4><%= link_to t._source.url %></h4> -->
        <h4><%= t._source.url %></h4>
      </div>
      <p class="text-muted search_summary">
        <small><%= t._source.text %></small>
      </p>
    <% end %>
  <% end %>
</div>