<div class="col-sm-offset-1 col-xs-offset-1 page-header width">
  <h1>論文検索</h1>
</div>

<!-- 検索フォーム -->
<%= form_tag(theses_path, method: :get, enforce_utf8: false, class: "form-horizontal form-inline") do %>
  <div class="row mar-bo-30">
    <div class="col-sm-offset-1 col-xs-offset-1 col-sm-7 col-xs-7">
      <%= search_field_tag(:q, params[:q], class: 'form-control textarea', placeholder: 'キーワード') %>
    </div>
    <div class="col-sm-2 col-xs-2">
      <%= submit_tag('検索', class: "button btn-pos") %>
    </div>
  </div>
  <div class="row">
    <% @labos.each do | l | %>
      <div class="col-sm-offset-1 col-xs-offset-1 col-sm-3 col-xs-3">
        <% if @labo_id.to_i == l.id %>
          <label><%= radio_button_tag(:l, l.id, true)%><%= l.name %></label>
        <% else %>
          <label><%= radio_button_tag(:l, l.id)%><%= l.name %></label>
        <% end %>
      </div>
    <% end %>
    <div class="col-sm-offset-1 col-xs-offset-1 col-sm-3 col-xs-3">
      <% if @labo_id.to_i == 9 %>
        <label class="clear-btn"><%= radio_button_tag(:l, 9, true)%>未選択</label>
      <% else %>
        <label class="clear-btn"><%= radio_button_tag(:l, 9)%>未選択</label>
      <% end %>
    </div>
  </div>
<% end %>


