<section id="searchpage" class="fadeout col-sm-9 col-xm-9">
  <div class="container fadein">
    <div class="col-sm-offset-1 col-xs-offset-1 page-header line-width">
      <h1>論文検索</h1>
    </div>
  
    <!-- 検索フォーム -->
    <%= form_tag(theses_path, method: :get, enforce_utf8: false, class: "form-horizontal form-inline") do %>
      <div class="row">
        <div class="col-sm-offset-1 col-xs-offset-1 col-sm-7 col-xs-7">
         <%= search_field_tag(:q, params[:q], class: 'form-control textarea', placeholder: 'キーワード') %>
        </div>
        <div class="col-sm-2 col-xs-2">
          <%= submit_tag('検索', class: "button btn-pos") %>
        </div>
      </div>
     <div class="row">
        <% @labos.each do | l | %>
          <div class="col-sm-offset-1 col-xs-offset-1 col-sm-3 col-xs-3">
            <label><%= radio_button_tag(:l, l.id)%><%= l.name %></label>
          </div>
        <% end %>
      </div>
    <% end %>

      <!-- 検索結果の表示 -->
    <% if @thesisArray %>
      <%= page_entries_info @thesisArray %>
      <% @thesisArray.each do |t| %>
        <div class="col-sm-offset-1 col-xs-offset-1">
          <div class="page-header thesis-width">
            <h4><%= link_to(t[:thesis].title, thesis_path(t[:thesis])) %></h4>
          </div>
          <p class="text-muted search_summary">
            <small><%= t[:body] %></small>
          </p>
        </div>
      <% end %>
      <%= paginate @thesisArray %>
    <% end %>
  </div>
</section>
</div>
<aside id="right-nav-container"class="col-sm-3 col-xm-3">
    <div class="page-header">
      <h1>人気の論文</h1>
      <% @popular_theses.each_with_index do |thesis, i| %>
        <div class="page-header">
          <span class="ranking"> 第 <%= i + 1 %> 位 </span>
          <span class="access"> アクセス数 <%= thesis.access %> </span>
          <div class="thesis-title"> title : <%= link_to(thesis.title, thesis_path(thesis)) %></div>
          <div class="author"> author : <%= thesis.author.name %></div>
         </div>
      <% end %>
    </div>

</aside>
