<div id="pageContents">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="10000">
  <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      <li data-target="#carousel-example-generic" data-slide-to="4"></li>
      <li data-target="#carousel-example-generic" data-slide-to="5"></li>
      <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag("introduction/image7.jpg") %>
        <div class="carousel-caption">
          <h1>image1</h1>
            <p></p>
        </div>
      </div>
      <div class="item">
        <%= image_tag("introduction/slide2.jpg") %>
        <div class="carousel-caption">
          <h1>image2</h1>
          <p></p>
        </div>
      </div>
      <div class="item">
        <%= image_tag("introduction/slide3.jpg") %>
        <div class="carousel-caption">
          <h1>image3</h1>
          <p></p>
        </div>
      </div>
      <div class="item">
        <%= image_tag("introduction/slide4.jpg") %>
        <div class="carousel-caption">
          <h1>image4</h1>
          <p></p>
        </div>
      </div>
      <div class="item">
        <%= image_tag("introduction/image5.jpg") %>
        <div class="carousel-caption">
          <h1>image5</h1>
          <p></p>
        </div>
      </div>
      <div class="item">
        <%= image_tag("introduction/image6.jpg") %>
        <div class="carousel-caption">
          <h1>image6</h1>
          <p></p>
        </div>
      </div>
      <div class="item">
        <%= image_tag("introduction/slide1.jpg") %>
        <div class="carousel-caption">
          <h1>image7</h1>
          <p></p>
        </div>
      </div>
    </div>

  <!-- Controls -->
    <a class="left carousel-control">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- <div class="titleContent transparent-back">
    <h1 class="coral pad-le-60 font-size-35 position">各研究室の先輩の論文を検索できる</h1>
  </div> -->
  <div class="image-width content white-back">
    <div class="image-caption">
      <h1>image-caption</h1>
    </div>
    <ul class="icons">
      <li class="icon-wrapper recommend"><%= image_tag("introduction/recomendation_image.png", :width=> "100%" ) %></li>
      <li class="icon-wrapper search"><<%= image_tag("introduction/search_image.png", :width=> "100%") %></li>
      <li class="icon-wrapper comment"><<%= image_tag("introduction/comment_image.png", :width=> "100%") %></li>
      <li class="icon-wrapper cinii"><<%= image_tag("introduction/CiNii_image.png", :width=> "100%") %></li>
<!--      <div>研究室推薦</div>
      <div>論文検索</div>
      <div>先輩からのコメント</div>
      <div>CiNii連動</div>-->
    </div>
  </ul>
  <div class="container content black-back">
    <div class="fade-in">
      <div class="laboName">
        <span class="font-size-35 clear-margin border-width">戸辺研究室</span>
      </div>
      <div class="laboInfo">
        <div class="col-sm-5">
          <div class="laboProfessor">
            <span class="mar-ri-20">教授 : 戸辺 義人</span>
            <span>助教授 : 高橋 淳二</span>
          </div>
          <div class="laboKeyword">
            <p class="font-size-14">情報ネットワーク/センシングネットワーク/実世界コンピューティング/人間情報インタフェース</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-offset-1">
          <p class="font-size-20">現役生からのコメント</p>
          <p class="font-size-14">たこ焼きパーティーをします。Ruby コミッターが面倒をみてくれます。tensolflow 使いになれます。ロボット高額。小宮山先生は何をしてるんだ</p>
          <p class="font-size-20">男女比 4:6</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container content white-back">
    <div class="fade-in">
      <div class="laboName">
        <span class="font-size-35 clear-margin border-width">鷲見研究室</span>
      </div>
      <div class="laboInfo">
        <div class="col-sm-5">
          <div class="laboProfessor">
            <span class="mar-ri-20">教授 : 鷲見 和彦</span>
            <span>助教授 : 金子 直史</span>
          </div>
          <div class="laboKeyword">
            <p class="font-size-14">画像情報処理/センサ情報処理/画像理解/ロボット視覚/リモートセンシング/ヒューマンセンシング/映像セキュリティ</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-offset-1">
          <p class="font-size-20">現役生からのコメント</p>
          <p class="font-size-14">文字数のdb使うことになったら文字数にバリ儲けましょう</p>
          <p class="font-size-20">男女比 4:6</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container content black-back">
    <div class="fade-in">
      <div class="laboName">
        <span class="font-size-35 clear-margin border-width">佐久田研究室</span>
      </div>
      <div class="laboInfo">
        <div class="col-sm-5">
          <div class="laboProfessor">
            <span class="mar-ri-20">教授 : 佐久田 博司</span>
            <span>助教授 : 長谷川 大</span>
          </div>
          <div class="laboKeyword">
            <p class="font-size-14">設計情報工学/数値解析システム/成形プラスチック歯車/図形科学教育システム/e-Learning</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-offset-1">
          <p class="font-size-20">現役生からのコメント</p>
          <p class="font-size-14">文字数のdb使うことになったら文字数にバリ儲けましょう</p>
          <p class="font-size-20">男女比 4:6</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container content white-back">
    <div class="fade-in">
      <div class="laboName">
        <span class="font-size-35 clear-margin border-width">小宮山研究室</>
      </div>
      <div class="laboInfo">
        <div class="col-sm-5">
          <div class="laboProfessor">
            <span class="mar-ri-20">教授 : 小宮山 摂</span>
            <span>助教授 : 盛川 浩志</span>
          </div>
          <div class="laboKeyword">
            <p class="font-size-14">ヒューマンインタフェース/ヒューマンコンピュータインタラクション/バーチャルリアリ</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-offset-1">
          <p class="font-size-20">現役生からのコメント</p>
          <p class="font-size-14">文字数のdb使うことになったら文字数にバリ儲けましょう</p>
          <p class="font-size-20">男女比 4:6</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container content black-back">
    <div class="fade-in">
      <div class="laboName">
        <span class="font-size-35 clear-margin border-width">原田研究室</span>
      </div>
      <div class="laboInfo">
        <div class="col-sm-5">
          <div class="laboProfessor">
            <span class="mar-ri-20">教授 : 原田 実</span>
            <span>助教授 : 冬子（不在）</span>
          </div>
          <div class="laboKeyword">
            <p class="font-size-14">自然言語処理/意味理解/質問応答/自動要約/テキストマイニング/プログラム自動生成/株式投資工学/機械学習/ルールベースの自動更新</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-offset-1">
          <p class="font-size-20">現役生からのコメント</p>
          <p class="font-size-14">文字数のdb使うことになったら文字数にバリ儲けましょう</p>
          <p class="font-size-20">男女比 4:6</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container content white-back">
    <div class="fade-in">
      <div class="laboName">
        <span class="font-size-35 clear-margin border-width">Lopez研究室</span>
      </div>
      <div class="laboInfo">
        <div class="col-sm-5">
          <div class="laboProfessor">
            <span class="mar-ri-20">教授 : Guillaume LOPEZ</span>
            <span>助教授 : 磯山先生(不在）</span>
          </div>
          <div class="laboKeyword">
            <p class="font-size-14">ウェアラブルコンピューティング/マルチメディアデバイス/人間情報学/環境情報学</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-offset-1">
          <p class="font-size-20">現役生からのコメント</p>
          <p class="font-size-14">文字数のdb使うことになったら文字数にバリ儲けましょう</p>
          <p class="font-size-20">男女比 4:6</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container content black-back">
    <div class="fade-in">
      <div class="laboName">
        <span class="font-size-35 clear-margin border-width">大原研究室</span>
      </div>
      <div class="laboInfo">
        <div class="col-sm-5">
          <div class="laboProfessor">
            <span class="mar-ri-20">教授 : 大原 剛三</span>
            <span>助教授 : 豊田 哲也</span>
          </div>
          <div class="laboKeyword">
            <p class="font-size-14">データマイニング/機械学習/推薦システム/社会情報ネットワーク解析/ 個人適応/統計モデルの推定</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-offset-1">
          <p class="font-size-20">現役生からのコメント</p>
          <p class="font-size-14">文字数のdb使うことになったら文字数にバリ儲けましょう</p>
          <p class="font-size-20">男女比 4:6</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container content white-back">
    <div class="fade-in">
      <div class="laboName">
        <span class="font-size-35 clear-margin border-width">Dürst研究室</span>
      </div>
      <div class="laboInfo">
        <div class="col-sm-5">
          <div class="laboProfessor">
            <span class="mar-ri-20">教授 : Martin J. DÜRST</span>
            <span>助教授 : 松原 俊一</span>
          </div>
          <div class="laboKeyword">
            <p class="font-size-14">ソフトウェアの国際化/Web/プログラミング言語/DSL</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-offset-1">
          <p class="font-size-20">現役生からのコメント</p>
          <p class="font-size-14">文字数のdb使うことになったら文字数にバリ儲けましょう</p>
          <p class="font-size-20">男女比 4:6</p>
        </div>
      </div>
    </div>
  </div>
</div>
