<h1>ユーザ情報管理</h1>

<table>
  <thead>
    <tr>
      <th> id </th>
      <th> 氏名 </th>
      <th> 入学年度 </th>
      <th> email </th>
      <th> 研究室ID </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.username, admin_user_path(user) %></td>
        <td><%= user.year %></td>
        <td><%= user.email %></td>
        <td><%= user.labo %></td>
      </tr>
    <% end %>
  </tbody>
</table>
