<h1>論文情報管理</h1>

<table>
  <thead>
    <tr>
      <th> id </th> 
      <th> タイトル </th> 
      <th> 執筆年度 </th> 
      <th> 研究室ID </th> 
      <th> 著者ID </th> 
    </tr>
  </thead>
  <tbody>
    <% @theses.each do |thesis| %>
      <tr>
        <td><%= thesis.id %></td>
        <td><%= link_to thesis.title, admin_thesis_path(thesis) %></td>
        <td><%= thesis.year %></td>
        <td><%= thesis.labo_id %></td>
        <td><%= thesis.author_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
