<h1>論文情報管理</h1>

<table>
  <thead>
    <% @theses.each do |thesis| %>
      <tr>
        <td>
          <%= form_for [:admin, thesis], :url => admin_thesis_path(thesis.id), method: :patch do |f| %>
            <%= thesis.title %>
            <%= f.hidden_field :info, :value => thesis.id %>
            <%= f.collection_select :labo_id, Labo.all, :id, :name %>
            <%= f.submit "submit", name: "hoge",  class: "btn" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </thead>
</table>
