  <footer id="footer">
    <div class="l-footerNav">
      <div class="l-container l-container--full">
        <nav class="m-navigation m-navigation--center">
          <ul>
            <% if logged_in? %>
              <li><%= link_to "TOP", "/", {class: "font-size-20"} %></li>
              <li><%= link_to "Recommend Lab", recommendations_path, {class: "font-size-20"} %></li>
              <li><%= link_to "Search", theses_path, {class: "font-size-20"} %></li>
              <li><%= link_to "Logout", logout_path, {class: "font-size-20", method: :post} %></li>
            <% else %>
              <li><%= link_to "Login", login_path, {class: "font-size-20"} %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
    <div class="l-container l-container--narrow">
      <h1 class="m-siteLogo m-siteLogo--small">
        <a href="http://pas-pol.jp">論文検索支援システム escapism</a>
      </h1>
      <div class="m-copyRight">
      <small>Copyright &copy; 2017 論文検索支援システム escapism All rights reserved.</small>
      </div>
    </div>
  </footer>
  <%= stylesheet_link_tag "footers" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag params[:controller] %>
</body>
</html>
