<!DOCTYPE html>
<html class="centering-wrapper-block">
<head>
  <title>Escapism</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body class="centering-wrapper-block background-book-img"> 
  <%= nav_bar brand: "Escapism", brand_link: root_path, responsive: true do %>
    <%= menu_group pull: :right do %>
      <% if logged_in? %>
        <!-- NOTE:何故かmenu_itemにシンボル(:logout)が使えない(引数pathが文字列だから？？)？？ -->
        <!-- https://github.com/seyhunak/twitter-bootstrap-rails/blob/master/app/helpers/navbar_helper.rb -->
        <%= menu_item "Logout", "logout", {method: :post} %>
      <% else %>
        <%= menu_item "Register", new_user_path %>
        <%= menu_item "Login", "login" %>
      <% end %>
    <% end %>
  <% end %>



  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  <%= yield %>
</body>
</html>
